body {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 16px;
}

header {
  background-color: rgb(106, 255, 131);
}

ul, li {
  list-style: none;
  padding: .5% 0% .5% 0%;
}
.transactions-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a {
  color: white;
  text-decoration: none;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: min-content;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  gap: 1rem;
}

button {
  background-color: rgb(148, 255, 166);
  /* padding: 1.5% 1.5% 1.5% 1.5%; */
  font-size: 1rem;
  font-family: monospace;
  /* border-radius: 0.25rem; */
  font-weight: 700;
  margin-bottom: 1%;
  border: none;
  display: inline-flex;
}